<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8">
 <title>Liste des voitures</title>
 </head>
 <body>
     <form class="form-horizontal" action="index.php?action=created" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Immatriculation">Immatriculation</label>  
  <div class="col-md-4">
  <input id="Immatriculation" name="Immatriculation" type="text" placeholder="FR764FR" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Couleur">Couleur</label>  
  <div class="col-md-4">
  <input id="Couleur" name="Couleur" type="text" placeholder="Rouge" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Marque">Marque</label>  
  <div class="col-md-4">
  <input id="Marque" name="Marque" type="text" placeholder="Renault" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
      <button id="singlebutton" type="submit" class="btn btn-primary">Créer</button>
  </div>
</div>

</fieldset>
</form>
 </body>
</html>








